arm/piper_sdk/
ctre_sim/
notebooks/
# log files
robot/out
outputs/
data/
MUJOCO_LOG.TXT

.DS_Store
*.swp
*.pyc
__pycache__/
*.egg-info/

*.bin
*.csv
*.ipynb
*.npy
*.png
*.r3d
*.rrdanysense-streaming/
bin/
inference_outcome/
teleop_demonstrations/
your_save_dir_here/
*.zip
test/
