casadi
meshcat
pinocchio
numpy<2.0.0
piper-sdk
matplotlib
pure-python-adb
msgpack
msgpack-numpy
numpy-quaternion
hydra-core
omegaconf
opencv-python
phoenix6
pillow
pygame==2.6.1
pyzmq==26.2.1
record3d @ git+ssh://git@github.com/eneserciyes/record3d.git@2232a7dc9ef209bba28827c98709b7bb7f8ae0ab
rerun-sdk==0.22.0
ruckig==0.14.0
scipy==1.15.2
tqdm
